workflows/02_Diagnostics.json
{"name": "02_Diagnostics_Final", "_comment": "Weekly diagnostics workflow. Fetches data from Support + Community APIs, summarizes patterns with OpenAI gpt-4.1, sends a report to Slack, and logs the run via the Logging Engine.", "nodes": [{"id": "CronTrigger", "name": "Weekly Trigger", "type": "n8n-nodes-base.cron", "typeVersion": 1, "parameters": {"triggerTimes": {"item": [{"weekday": "1", "hour": 7, "minute": 0}]}}, "_comment": "Runs once per week (Monday 07:00)."}, {"id": "Fetch_Support", "name": "Fetch Support Data", "type": "n8n-nodes-base.httpRequest", "typeVersion": 1, "parameters": {"url": "={{$env.SUPPORT_API_URL}}", "method": "GET", "authentication": "none", "jsonParameters": true, "options": {"timeout": 30000}, "continueOnFail": true, "queryParametersJson": "={\"limit\":100}"}, "_comment": "Fetches up to 100 recent support tickets from the CX/support platform."}, {"id": "Fetch_Community", "name": "Fetch Community Data", "type": "n8n-nodes-base.httpRequest", "typeVersion": 1, "parameters": {"url": "={{$env.COMMUNITY_API_URL}}", "method": "GET", "authentication": "none", "jsonParameters": true, "options": {"timeout": 30000}, "continueOnFail": true, "queryParametersJson": "={\"limit\":100}"}, "_comment": "Fetches up to 100 recent community or social messages (e.g. Discord, Slack, forum)."}, {"id": "Prepare_AI_Input", "name": "Prepare AI Input", "type": "n8n-nodes-base.function", "typeVersion": 1, "parameters": {"functionCode": "\n// Combine support + community payloads into a single text block for analysis.\nconst support = items[0].json;\nconst community = items[1] ? items[1].json : {};\n\nfunction safeStringify(obj) {\n  try {\n    return JSON.stringify(obj);\n  } catch {\n    return '';\n  }\n}\n\nconst content = [\n  'SUPPORT_EVENTS:',\n  safeStringify(support),\n  'COMMUNITY_EVENTS:',\n  safeStringify(community)\n].join('\\n');\n\nreturn [{\n  json: {\n    diagnostic_input: content\n  }\n}];\n"}, "_comment": "Merges Support and Community data into a single diagnostic_input string for OpenAI."}, {"id": "OpenAI_Summarize", "name": "OpenAI Summarize Diagnostics", "type": "n8n-nodes-base.httpRequest", "typeVersion": 1, "parameters": {"url": "https://api.openai.com/v1/chat/completions", "method": "POST", "authentication": "headerAuth", "headerAuth": {"name": "Authorization", "value": "Bearer {{$env.OPENAI_API_KEY}}"}, "jsonParameters": true, "continueOnFail": true, "options": {"timeout": 60000}, "bodyParametersJson": "\n={\n  \"model\": \"gpt-4.1\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a CX diagnostics assistant. Given raw support and community events, extract patterns, recurring issues, sentiment trends, and potential risks. Output in structured bullet points with clear headings.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": $json[\"diagnostic_input\"] || \"\"\n    }\n  ],\n  \"temperature\": 0.2\n}\n"}, "_comment": "Uses OpenAI gpt-4.1 to summarize CX patterns from Support + Community data."}, {"id": "Build_Report", "name": "Build Slack Report Body", "type": "n8n-nodes-base.function", "typeVersion": 1, "parameters": {"functionCode": "\nconst completion = items[0].json;\nlet summaryText = '';\n\ntry {\n  summaryText = completion.choices[0].message.content;\n} catch (e) {\n  summaryText = 'No diagnostic summary available (OpenAI response missing or invalid).';\n}\n\nreturn [{\n  json: {\n    slack_text: `*Weekly CX Diagnostics Report*\\n\\n${summaryText}`\n  }\n}];\n"}, "_comment": "Extracts the assistant summary from OpenAI response and formats it for Slack."}, {"id": "Slack_Report", "name": "Send Slack Diagnostics Report", "type": "n8n-nodes-base.httpRequest", "typeVersion": 1, "parameters": {"url": "https://slack.com/api/chat.postMessage", "method": "POST", "authentication": "headerAuth", "headerAuth": {"name": "Authorization", "value": "Bearer {{$env.SLACK_BOT_TOKEN}}"}, "jsonParameters": true, "continueOnFail": true, "bodyParametersJson": "\n={\n  \"channel\": \"{{$env.SLACK_CHANNEL_DIAGNOSTICS}}\",\n  \"text\": $json[\"slack_text\"]\n}\n"}, "_comment": "Sends the diagnostics summary to a dedicated Slack channel for CMO + Content Lead."}, {"id": "Logging_Engine", "name": "Send Diagnostics Log", "type": "n8n-nodes-base.httpRequest", "typeVersion": 1, "parameters": {"url": "={{$env.LOGGING_WEBHOOK_URL}}", "method": "POST", "jsonParameters": true, "bodyParametersJson": "\n={\n  \"event_type\": \"diagnostics_run\",\n  \"workflow\": \"02_Diagnostics\",\n  \"timestamp\": \"{{$now}}\",\n  \"success\": true,\n  \"severity\": \"low\",\n  \"actor\": \"system\",\n  \"payload\": $json\n}\n"}, "_comment": "Logs the diagnostics run to the central logging engine."}, {"parameters": {"functionCode": "// Ensure expected data keys exist\nconst support = $input.all()[0].json;\nconst community = $input.all()[1].json;\n\nif (!support || !community) {\n  throw new Error('Missing support or community data');\n}\n\nreturn [{ json: { support, community } }];\n"}, "name": "Validate Fetched Data", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [800, 300]}, {"parameters": {"functionCode": "// Remove emails, names, userIds\nconst redact = (obj) => {\n  const str = JSON.stringify(obj);\n  return str.replace(/\\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}\\b/gi, '[REDACTED_EMAIL]')\n            .replace(/\"userId\":\"[^\"]+\"/g, '\"userId\":\"[REDACTED]\"')\n            .replace(/\"name\":\"[^\"]+\"/g, '\"name\":\"[REDACTED]\"');\n};\n\nreturn [{ json: { combined: redact($json) } }];\n"}, "name": "Redact PII", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [1000, 300]}, {"parameters": {"values": {"string": [{"name": "workflow", "value": "02_Diagnostics_Final"}, {"name": "timestamp", "value": "2025-11-21T21:23:58.062140"}, {"name": "status", "value": "completed"}]}}, "name": "Log Diagnostics Completion", "type": "n8n-nodes-base.set", "typeVersion": 1, "position": [1200, 300]}], "connections": {"Weekly Trigger": {"main": [[{"node": "Fetch Support Data", "type": "main", "index": 0}]]}, "Fetch Support Data": {"main": [[{"node": "Fetch Community Data", "type": "main", "index": 0}]]}, "Fetch Community Data": {"main": [[{"node": "Prepare AI Input", "type": "main", "index": 0}]]}, "Prepare AI Input": {"main": [[{"node": "OpenAI Summarize Diagnostics", "type": "main", "index": 0}]]}, "OpenAI Summarize Diagnostics": {"main": [[{"node": "Build Slack Report Body", "type": "main", "index": 0}]]}, "Build Slack Report Body": {"main": [[{"node": "Send Slack Diagnostics Report", "type": "main", "index": 0}]]}, "Send Slack Diagnostics Report": {"main": [[{"node": "Send Diagnostics Log", "type": "main", "index": 0}]]}}}