workflows/03_EWS_Alert_HumanDecision.json
{"name": "03_EWS_Alert_HumanDecision_Final", "_comment": "Detects EWS insights from Diagnostics, sends human decision prompt via Slack, routes based on action, logs event.", "nodes": [{"id": "WebhookTrigger", "name": "Receive_EWS_Insight", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "parameters": {"path": "ews_alert", "httpMethod": "POST", "responseMode": "onReceived"}}, {"id": "Validate_EWS", "name": "Validate Incoming Insight", "type": "n8n-nodes-base.function", "typeVersion": 1, "parameters": {"functionCode": "\nconst required = ['insight_summary','severity','source_workflow','timestamp'];\nconst input = items[0].json;\nrequired.forEach(f => {\n  if (!input[f]) throw new Error(`Missing required EWS field: ${f}`);\n});\nreturn items;\n"}, "_comment": "Ensures EWS insight has mandatory fields."}, {"id": "Send_Slack_Buttons", "name": "Send Slack Decision Request", "type": "n8n-nodes-base.httpRequest", "typeVersion": 1, "parameters": {"url": "https://slack.com/api/chat.postMessage", "method": "POST", "authentication": "headerAuth", "headerAuth": {"name": "Authorization", "value": "Bearer {{$env.SLACK_BOT_TOKEN}}"}, "jsonParameters": true, "options": {}, "bodyParametersJson": "\n={\n  \"channel\": \"{{$env.SLACK_CHANNEL_EWS}}\",\n  \"text\": \"EWS Alert: Human review required\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": { \"type\": \"mrkdwn\", \"text\": \"*Early Warning System Alert*\\nSeverity: {{$json.severity}}\\n\\n{{$json.insight_summary}}\" }\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\"type\": \"plain_text\",\"text\": \"Approve Communication Task\"},\n          \"action_id\": \"ews_approve_comm\"\n        },\n        {\n          \"type\": \"button\",\n          \"text\": {\"type\": \"plain_text\",\"text\": \"No Action Needed\"},\n          \"action_id\": \"ews_no_action\"\n        }\n      ]\n    }\n  ]\n}\n"}, "_comment": "Sends two decision buttons to Slack (Content Lead + CMO)."}, {"id": "Slack_Listener", "name": "Listen for Slack Decision", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "parameters": {"path": "ews_decision", "httpMethod": "POST", "responseMode": "onReceived"}, "_comment": "Receives Slack interactive button click."}, {"id": "Decision_Router", "name": "Route Decision", "type": "n8n-nodes-base.switch", "typeVersion": 1, "parameters": {"value1": "={{$json.action_id}}", "rules": [{"operation": "equal", "value2": "ews_approve_comm"}, {"operation": "equal", "value2": "ews_no_action"}]}}, {"id": "Route_Approve", "name": "Trigger Communication Task", "type": "n8n-nodes-base.httpRequest", "typeVersion": 1, "parameters": {"url": "={{$env.WORKFLOW_04_TRIGGER_URL}}", "method": "POST", "jsonParameters": true, "bodyParametersJson": "={{$json}}"}, "_comment": "Triggers Workflow 04 \u2014 Create Copywriter Task."}, {"id": "Route_No_Action", "name": "Log No Action", "type": "n8n-nodes-base.httpRequest", "typeVersion": 1, "parameters": {"url": "={{$env.LOGGING_WEBHOOK_URL}}", "method": "POST", "jsonParameters": true, "bodyParametersJson": "\n={\n  \"event_type\": \"ews_no_action\",\n  \"workflow\": \"03_EWS_Alert_HumanDecision\",\n  \"timestamp\": \"{{$now}}\",\n  \"success\": true,\n  \"severity\": \"low\",\n  \"actor\": \"human\",\n  \"payload\": $json\n}\n"}}, {"id": "Response", "name": "Respond OK", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "parameters": {"responseCode": 200, "responseBody": "{\"status\":\"received\"}"}}, {"parameters": {"functionCode": "\n// Generate a secure, expiring decision token\nconst crypto = require('crypto');\nconst token = crypto.randomBytes(16).toString('hex');\nconst expiresAt = new Date(Date.now() + 15 * 60000).toISOString(); // 15 minutes\n\n// Attach to Slack payload\nreturn [{\n  json: {\n    token,\n    expiresAt,\n    decision_url: `https://yourdomain.com/webhooks/ews_decision?token=${token}`\n  }\n}];\n"}, "name": "Generate Decision Token", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [600, 300]}, {"parameters": {"functionCode": "\n// Validate token and expiration\nconst token = $json.token;\nconst expiresAt = new Date($json.expiresAt);\n\nif (!token || new Date() > expiresAt) {\n  throw new Error(\"Invalid or expired decision token\");\n}\n\n// Token valid\nreturn [ { json: { token_validated: true, ...$json } } ];\n"}, "name": "Validate Decision Token", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [1000, 300]}, {"parameters": {"values": {"string": [{"name": "workflow", "value": "03_EWS_Alert_HumanDecision"}, {"name": "event", "value": "Decision Made"}, {"name": "timestamp", "value": "2025-11-21T21:24:38.826211"}]}}, "name": "Log Decision Outcome", "type": "n8n-nodes-base.set", "typeVersion": 1, "position": [1200, 300]}], "connections": {"Receive_EWS_Insight": {"main": [[{"node": "Validate Incoming Insight"}]]}, "Validate Incoming Insight": {"main": [[{"node": "Send Slack Decision Request"}]]}, "Send Slack Decision Request": {"main": [[{"node": "Respond OK"}]]}, "Listen for Slack Decision": {"main": [[{"node": "Route Decision"}]]}, "Route Decision": {"main": [[{"node": "Trigger Communication Task", "type": "main", "index": 0}, {"node": "Log No Action", "type": "main", "index": 1}]]}}}