workflows/04_Copywriter_Task_Creation.json
{"name": "04_Copywriter_Task_Creation_Final", "_comment": "Creates a detailed communication task in Asana for the copywriter based on an approved EWS insight, notifies the copywriter in Slack, and logs the event.", "nodes": [{"id": "WebhookTrigger", "name": "Receive_Approved_EWS", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "parameters": {"path": "create_comm_task", "httpMethod": "POST", "responseMode": "onReceived"}, "_comment": "Triggered by Workflow 03 when a human approves creating a communication task."}, {"id": "ValidateInput", "name": "Validate EWS Payload", "type": "n8n-nodes-base.function", "typeVersion": 1, "parameters": {"functionCode": "\nconst input = items[0].json;\nconst required = ['insight_summary', 'severity', 'timestamp'];\n\nrequired.forEach(f => {\n  if (!input[f]) {\n    throw new Error(`Missing required field in approved EWS payload: ${f}`);\n  }\n});\n\n// Optional fields normalized\ninput.requested_by = input.requested_by || 'unknown';\ninput.source_workflow = input.source_workflow || 'unknown';\n\nreturn [{ json: input }];\n"}, "_comment": "Ensures we have the minimum required context to create a task."}, {"id": "BuildAsanaPayload", "name": "Build Asana Task Payload", "type": "n8n-nodes-base.function", "typeVersion": 1, "parameters": {"functionCode": "\nconst input = items[0].json;\n\nconst name = `EWS Communication: ${input.severity.toUpperCase()} incident`;\n\nconst notesLines = [\n  'Context from Early Warning System:',\n  '',\n  `Severity: ${input.severity}`,\n  `Approved by: ${input.requested_by || 'unknown'}`,\n  `Source workflow: ${input.source_workflow || '03_EWS_Alert_HumanDecision'}`,\n  '',\n  'Insight summary:',\n  input.insight_summary || '(no summary provided)',\n];\n\nif (input.related_links) {\n  notesLines.push('', 'Related links:');\n  if (Array.isArray(input.related_links)) {\n    input.related_links.forEach(l => notesLines.push(`- ${l}`));\n  } else {\n    notesLines.push(String(input.related_links));\n  }\n}\n\nconst notes = notesLines.join('\\n');\n\n// Basic due date strategy: next day\nconst now = new Date();\nconst dueDate = new Date(now.getTime() + 24 * 60 * 60 * 1000);\nconst dueOn = dueDate.toISOString().slice(0, 10); // YYYY-MM-DD\n\nreturn [{\n  json: {\n    asana_payload: {\n      data: {\n        name,\n        notes,\n        projects: [process.env.ASANA_PROJECT_ID_COMM || '$env.ASANA_PROJECT_ID_COMM'],\n        assignee: process.env.ASANA_COPYWRITER_ASSIGNEE_ID || '$env.ASANA_COPYWRITER_ASSIGNEE_ID',\n        due_on: dueOn\n      }\n    },\n    ews_context: input\n  }\n}];\n"}, "_comment": "Creates a human-readable, rich Asana task payload with all EWS context."}, {"id": "CreateAsanaTask", "name": "Create Asana Task", "type": "n8n-nodes-base.httpRequest", "typeVersion": 1, "parameters": {"url": "https://app.asana.com/api/1.0/tasks", "method": "POST", "authentication": "headerAuth", "headerAuth": {"name": "Authorization", "value": "Bearer {{$env.ASANA_ACCESS_TOKEN}}"}, "jsonParameters": true, "continueOnFail": false, "options": {"timeout": 30000}, "bodyParametersJson": "={{$json[\"asana_payload\"]}}"}, "_comment": "Creates the communication task in Asana for the copywriter."}, {"id": "BuildSlackNotify", "name": "Build Slack Copywriter Notification", "type": "n8n-nodes-base.function", "typeVersion": 1, "parameters": {"functionCode": "\nconst asana = items[0].json;\n\nlet taskGid = '';\ntry {\n  taskGid = asana.data.gid;\n} catch {\n  taskGid = '';\n}\n\nconst projectId = process.env.ASANA_PROJECT_ID_COMM || '$env.ASANA_PROJECT_ID_COMM';\nconst taskUrl = taskGid ? `https://app.asana.com/0/${projectId}/${taskGid}` : '(task URL unavailable)';\n\nreturn [{\n  json: {\n    task_url: taskUrl,\n    slack_text: `A new EWS-based communication task has been created for you in Asana.\\n${taskUrl}`\n  }\n}];\n"}, "_comment": "Builds a concise Slack message with a direct link to the Asana task."}, {"id": "NotifyCopywriterSlack", "name": "Notify Copywriter in Slack", "type": "n8n-nodes-base.httpRequest", "typeVersion": 1, "parameters": {"url": "https://slack.com/api/chat.postMessage", "method": "POST", "authentication": "headerAuth", "headerAuth": {"name": "Authorization", "value": "Bearer {{$env.SLACK_BOT_TOKEN}}"}, "jsonParameters": true, "continueOnFail": true, "bodyParametersJson": "\n={\n  \"channel\": \"{{$env.SLACK_CHANNEL_COPYWRITER}}\",\n  \"text\": $json[\"slack_text\"]\n}\n"}, "_comment": "Notifies the copywriter (or content team) that a new task is ready in Asana."}, {"id": "LogEvent", "name": "Log Task Creation Event", "type": "n8n-nodes-base.httpRequest", "typeVersion": 1, "parameters": {"url": "={{$env.LOGGING_WEBHOOK_URL}}", "method": "POST", "jsonParameters": true, "bodyParametersJson": "\n={\n  \"event_type\": \"comm_task_created\",\n  \"workflow\": \"04_Copywriter_Task_Creation\",\n  \"timestamp\": \"{{$now}}\",\n  \"success\": true,\n  \"severity\": \"medium\",\n  \"actor\": \"system\",\n  \"payload\": $json\n}\n"}, "_comment": "Logs the creation of the communication task for full auditability."}, {"id": "RespondWebhook", "name": "Respond OK", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "parameters": {"responseCode": 200, "responseBody": "={\"status\":\"task_created\"}"}, "_comment": "Responds to the caller (Workflow 03) that the task has been created."}, {"parameters": {"functionCode": "\n// Simulate lookup in Asana by EWS ID or task name\nconst taskId = $json?.ews_id || '';\nif (!taskId) {\n  throw new Error(\"EWS ID is missing for deduplication.\");\n}\nreturn [{ json: { search_query: `name contains ${taskId}` } }];\n"}, "name": "Check For Existing Asana Task", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [600, 300]}, {"parameters": {"conditions": {"boolean": [{"value1": "={{$json.taskExists}}", "value2": "false"}]}}, "name": "If Not Duplicate", "type": "n8n-nodes-base.if", "typeVersion": 1, "position": [800, 300]}, {"parameters": {"values": {"string": [{"name": "workflow", "value": "04_Copywriter_Task_Creation"}, {"name": "event", "value": "Task Created or Skipped"}, {"name": "timestamp", "value": "2025-11-21T21:25:10.061792"}]}}, "name": "Log Task Action", "type": "n8n-nodes-base.set", "typeVersion": 1, "position": [1000, 300]}], "connections": {"Receive_Approved_EWS": {"main": [[{"node": "Validate EWS Payload"}]]}, "Validate EWS Payload": {"main": [[{"node": "Build Asana Task Payload"}]]}, "Build Asana Task Payload": {"main": [[{"node": "Create Asana Task"}]]}, "Create Asana Task": {"main": [[{"node": "Build Slack Copywriter Notification"}]]}, "Build Slack Copywriter Notification": {"main": [[{"node": "Notify Copywriter in Slack"}]]}, "Notify Copywriter in Slack": {"main": [[{"node": "Log Task Creation Event"}]]}, "Log Task Creation Event": {"main": [[{"node": "Respond OK"}]]}}}