workflows/05_Content_Review_Approval.json
{"name": "05_Content_Review_Approval_Final", "_comment": "Workflow triggered when the copywriter marks the Asana task as 'ready_for_review'. Notifies Content Lead, waits for decision, updates Asana, logs outcome.", "nodes": [{"id": "AsanaWebhook", "name": "Asana Task Update Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "parameters": {"path": "content_review", "httpMethod": "POST", "responseMode": "onReceived"}}, {"id": "ValidatePayload", "name": "Validate Asana Payload", "type": "n8n-nodes-base.function", "typeVersion": 1, "parameters": {"functionCode": "\nconst input = items[0].json;\nif (!input.task_gid) throw new Error(\"Missing task_gid from Asana webhook.\");\nif (!input.status) throw new Error(\"Missing status from Asana webhook.\");\nreturn items;\n"}}, {"id": "CheckStatus", "name": "Check Ready For Review", "type": "n8n-nodes-base.switch", "typeVersion": 1, "parameters": {"value1": "={{$json.status}}", "rules": [{"operation": "equal", "value2": "ready_for_review"}]}}, {"id": "NotifyReviewSlack", "name": "Send Slack Review Request", "type": "n8n-nodes-base.httpRequest", "typeVersion": 1, "parameters": {"url": "https://slack.com/api/chat.postMessage", "method": "POST", "authentication": "headerAuth", "headerAuth": {"name": "Authorization", "value": "Bearer {{$env.SLACK_BOT_TOKEN}}"}, "jsonParameters": true, "bodyParametersJson": "\n={\n  \"channel\": \"{{$env.SLACK_CHANNEL_REVIEW}}\",\n  \"text\": \"A communication draft is ready for review.\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": { \"type\": \"mrkdwn\", \"text\": \"*Content Review Needed*\\nA copywriter marked a task as ready for review.\" }\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": { \"type\": \"plain_text\", \"text\": \"Approve\" },\n          \"action_id\": \"review_approve\"\n        },\n        {\n          \"type\": \"button\",\n          \"text\": { \"type\": \"plain_text\", \"text\": \"Request Changes\" },\n          \"action_id\": \"review_changes\"\n        }\n      ]\n    }\n  ]\n}\n"}}, {"id": "SlackListener", "name": "Listen for Review Decision", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "parameters": {"path": "review_decision", "httpMethod": "POST", "responseMode": "onReceived"}}, {"id": "RouteDecision", "name": "Route Review Decision", "type": "n8n-nodes-base.switch", "typeVersion": 1, "parameters": {"value1": "={{$json.action_id}}", "rules": [{"operation": "equal", "value2": "review_approve"}, {"operation": "equal", "value2": "review_changes"}]}}, {"id": "AsanaApprove", "name": "Mark Approved in Asana", "type": "n8n-nodes-base.httpRequest", "typeVersion": 1, "parameters": {"url": "https://app.asana.com/api/1.0/tasks/{{$json.task_gid}}", "method": "PUT", "authentication": "headerAuth", "headerAuth": {"name": "Authorization", "value": "Bearer {{$env.ASANA_ACCESS_TOKEN}}"}, "jsonParameters": true, "bodyParametersJson": "{\"data\":{\"custom_fields\":{\"review_status\":\"approved\"}}}"}}, {"id": "AsanaChanges", "name": "Mark Changes Requested in Asana", "type": "n8n-nodes-base.httpRequest", "typeVersion": 1, "parameters": {"url": "https://app.asana.com/api/1.0/tasks/{{$json.task_gid}}", "method": "PUT", "authentication": "headerAuth", "headerAuth": {"name": "Authorization", "value": "Bearer {{$env.ASANA_ACCESS_TOKEN}}"}, "jsonParameters": true, "bodyParametersJson": "{\"data\":{\"custom_fields\":{\"review_status\":\"changes_required\"}}}"}}, {"id": "LogEvent", "name": "Log Review Event", "type": "n8n-nodes-base.httpRequest", "typeVersion": 1, "parameters": {"url": "={{$env.LOGGING_WEBHOOK_URL}}", "method": "POST", "jsonParameters": true, "bodyParametersJson": "\n={\n  \"event_type\": \"content_review_decision\",\n  \"workflow\": \"05_Content_Review_Approval\",\n  \"timestamp\": \"{{$now}}\",\n  \"success\": true,\n  \"severity\": \"medium\",\n  \"actor\": \"human\",\n  \"payload\": $json\n}\n"}}, {"id": "RespondWebhook", "name": "Respond OK", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "parameters": {"responseCode": 200, "responseBody": "{\"status\":\"reviewed\"}"}}, {"parameters": {"functionCode": "\n// Generate secure token and expiration\nconst crypto = require('crypto');\nconst token = crypto.randomBytes(20).toString('hex');\nconst expiresAt = new Date(Date.now() + 1000 * 60 * 10).toISOString(); // 10 min expiry\n\nreturn [{\n  json: {\n    token,\n    expiresAt,\n    approval_link: `https://yourdomain.com/approval-review?token=${token}`\n  }\n}];\n"}, "name": "Generate Review Token", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [600, 300]}, {"parameters": {"functionCode": "\nconst { token, expiresAt } = $json;\n\nif (!token || new Date() > new Date(expiresAt)) {\n  throw new Error(\"Invalid or expired token.\");\n}\n\nreturn [ { json: { valid: true, ...$json } } ];\n"}, "name": "Validate Review Token", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [1000, 300]}, {"parameters": {"values": {"string": [{"name": "workflow", "value": "05_Content_Review_Approval"}, {"name": "event", "value": "Review Decision Logged"}, {"name": "timestamp", "value": "2025-11-21T21:26:04.659914"}]}}, "name": "Log Review Decision", "type": "n8n-nodes-base.set", "typeVersion": 1, "position": [1200, 300]}], "connections": {"Asana Task Update Webhook": {"main": [[{"node": "Validate Asana Payload"}]]}, "Validate Asana Payload": {"main": [[{"node": "Check Ready For Review"}]]}, "Check Ready For Review": {"main": [[{"node": "Send Slack Review Request"}]]}, "Send Slack Review Request": {"main": [[{"node": "Respond OK"}]]}, "Listen for Review Decision": {"main": [[{"node": "Route Review Decision"}]]}, "Route Review Decision": {"main": [[{"node": "Mark Approved in Asana", "type": "main", "index": 0}, {"node": "Mark Changes Requested in Asana", "type": "main", "index": 1}]]}, "Mark Approved in Asana": {"main": [[{"node": "Log Review Event"}]]}, "Mark Changes Requested in Asana": {"main": [[{"node": "Log Review Event"}]]}, "Log Review Event": {"main": [[{"node": "Respond OK"}]]}}}