workflows/06_Final_Publishing_Confirmation.json
{"name": "06_Final_Publishing_Confirmation_Final", "_comment": "Triggered when Content Lead manually marks publish_status = 'published'. No scheduling, no automation. Pure manual confirmation.", "nodes": [{"id": "AsanaWebhook", "name": "Asana Publish Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "parameters": {"path": "publish_confirmation", "httpMethod": "POST", "responseMode": "onReceived"}, "_comment": "Fires when a human updates the Asana task custom field."}, {"id": "ValidatePayload", "name": "Validate Payload", "type": "n8n-nodes-base.function", "typeVersion": 1, "parameters": {"functionCode": "\nconst data = items[0].json;\nif (!data.task_gid) throw new Error(\"Missing task_gid.\");\nif (!data.publish_status) throw new Error(\"Missing publish_status.\");\nreturn items;\n"}}, {"id": "CheckPublished", "name": "Check publish_status == published", "type": "n8n-nodes-base.switch", "typeVersion": 1, "parameters": {"value1": "={{$json.publish_status}}", "rules": [{"operation": "equal", "value2": "published"}]}}, {"id": "SlackNotify", "name": "Notify Human Publication", "type": "n8n-nodes-base.httpRequest", "typeVersion": 1, "parameters": {"url": "https://slack.com/api/chat.postMessage", "method": "POST", "authentication": "headerAuth", "headerAuth": {"name": "Authorization", "value": "Bearer {{$env.SLACK_BOT_TOKEN}}"}, "jsonParameters": true, "bodyParametersJson": "\n={\n    \"channel\": \"{{$env.SLACK_CHANNEL_PUBLISH}}\",\n    \"text\": \"Publication manually completed.\",\n    \"blocks\": [\n        {\n            \"type\": \"section\",\n            \"text\": { \n                \"type\": \"mrkdwn\",\n                \"text\": \"*Manual Publication Confirmed*\\nThe Content Lead has manually published the communication and updated Asana.\"\n            }\n        }\n    ]\n}\n"}}, {"id": "LogEvent", "name": "Log Manual Publication Event", "type": "n8n-nodes-base.httpRequest", "typeVersion": 1, "parameters": {"url": "={{$env.LOGGING_WEBHOOK_URL}}", "method": "POST", "jsonParameters": true, "bodyParametersJson": "\n={\n    \"event_type\": \"manual_publication_confirmed\",\n    \"workflow\": \"06_Final_Publishing_Confirmation\",\n    \"timestamp\": \"{{$now}}\",\n    \"success\": true,\n    \"severity\": \"low\",\n    \"actor\": \"human\",\n    \"payload\": $json\n}\n"}}, {"id": "RespondWebhook", "name": "Respond", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "parameters": {"responseCode": 200, "responseBody": "{\"status\":\"manual_publication_confirmed\"}"}}, {"parameters": {"functionCode": "\nconst crypto = require('crypto');\nconst token = crypto.randomBytes(24).toString('hex');\nconst expiresAt = new Date(Date.now() + 1000 * 60 * 5).toISOString(); // 5 minutes\n\nreturn [{\n  json: {\n    token,\n    expiresAt,\n    confirm_link: `https://yourdomain.com/publish-confirm?token=${token}`\n  }\n}];\n"}, "name": "Generate Publish Token", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [600, 300]}, {"parameters": {"functionCode": "\nconst { token, expiresAt } = $json;\n\nif (!token || new Date() > new Date(expiresAt)) {\n  throw new Error(\"Publishing confirmation link is invalid or expired.\");\n}\n\nreturn [{ json: { valid: true, ...$json } }];\n"}, "name": "Validate Publish Token", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [1000, 300]}, {"parameters": {"values": {"string": [{"name": "workflow", "value": "06_Final_Publishing_Confirmation"}, {"name": "event", "value": "Publishing Confirmed"}, {"name": "timestamp", "value": "2025-11-21T21:26:28.374709"}]}}, "name": "Log Publish Confirmation", "type": "n8n-nodes-base.set", "typeVersion": 1, "position": [1200, 300]}], "connections": {"Asana Publish Webhook": {"main": [[{"node": "Validate Payload"}]]}, "Validate Payload": {"main": [[{"node": "Check publish_status == published"}]]}, "Check publish_status == published": {"main": [[{"node": "Notify Human Publication"}]]}, "Notify Human Publication": {"main": [[{"node": "Log Manual Publication Event"}]]}, "Log Manual Publication Event": {"main": [[{"node": "Respond"}]]}}}